name: deploy to s3
on: 
  pull_request:
    types:
      - closed
    branches:
      - main
    paths:
      - "Frontend/**"
  workflow_dispatch: # only for the initial run,remove later

jobs:
  deploy:
    # if: ${{ github.event.pull_request.merged == true }} # ensure deployments dont run on closed but unmerged PRs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to S3
        # Syncs the Frontend directory to the S3 bucket.
        # --delete removes files in the bucket that are not in the source.
        run: aws s3 sync ./Frontend s3://${{ secrets.AWS_S3_BUCKET }} --delete
